
Blockchain/.vs/Blockchain/v16/.suo
Blockchain/Blockchain/bin/Debug/netcoreapp3.1/Blockchain.dll
Blockchain/Blockchain/bin/Debug/netcoreapp3.1/Blockchain.pdb
Blockchain/Blockchain/obj/Debug/netcoreapp3.1/Blockchain.csproj.AssemblyReference.cacheaasd